.fHeading{
    font-size: 100px !important;
    letter-spacing: 10px;
    color: rgba(0, 1, 8, 0.08);
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}
.sHeading{
    position: relative;
    top: -90px;
    font-weight: 900 !important;
    font-size: 50px !important;
    color: rgb(1, 42, 18);
    text-align: center;
    span{
        color: rgb(27, 177, 152);
    }

}

.subHeading{
    font-weight: 900 !important;
    font-size: 20px !important;
    color: rgb(1, 42, 18);
    margin-bottom: 20px;
    span{
        color: rgb(27, 177, 152);
    }
}
