%transition {
  transition: all linear 0.5s !important;
  -webkit-transition: all linear 0.5s !important;
  -moz-transition: all linear 0.5s !important;
  -ms-transition: all linear 0.5s !important;
  -o-transition: all linear 0.5s !important;
}
%as {
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
}
*:focus{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}