*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
}
*:focus{
    border: none !important;
    outline: none !important;
    box-sizing: none !important;
}
a{
    text-decoration: none !important;
}
ul{
    list-style: none;
    padding-left: 0 !important;
}
@import "blog";
@import "variables";
@import "contact";
@import "mainHeading";
@import "tabs";
@import "portfolio";
@import "service";
@import "about";


main{
    overflow-x: hidden;
    display: flex;
    margin-top: 50px;

      /* Style the tab content */
      .tabcontent {
        display: none;
        min-height: 130vh;
      }
}



